div.header, div.article, div.footer {
    width: 100%;
}
div.header { background-color: #424242; }
div.article { 
    background-color: #dedede;
    min-height: calc(100vh - 390px);
    padding: 48px 0;
}
div.footer { 
    background-color: #ffd366; 
    height: 90px;
}

/* flex */
div.wrap, div.footer, div.send, ul.listBox li, div.BMI {
    display: flex;
}
/* align-items -- center */
div.wrap, div.footer, div.send, ul.listBox li, div.result, div.BMI, div.del-all { 
    align-items: center;
}
/* justify-content -- space-between */
ul.listBox li { justify-content: space-between; }
/* justify-content -- center */
div.footer, div.BMI, div.del-all { justify-content: center; }

/* border-box */
div.article, input, div.BMI { box-sizing: border-box; }
/* cursor-pointer */
button, div.del-all {cursor: pointer;}


/* header>> */
div.wrap {
    width: 785px;
    height: 300px;
    margin: 0 auto;
}
/* header >> wrap >> send */
div.inputBox {margin: 0 53px 0 97px;}
label, input { display: block; }
label {
    font-size: 18px;
    color: #ffd366;
    margin: 23px 0 7px 0;
}
input {
    width: 250px;
    font-size: 24px;
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.18);
    border: 2px solid #ffd366;
    border-radius: 10px;
    margin-bottom: 10px;
}
span.checkValue2, span.checkValue {
    font-size: 12px;
    color: red;
}
/* header >> wrap >> send >> btn */
/* div.btn { margin-left: 53px; } */
button.btn-calculator {
    background-color: #ffd366;
    border: none;
    width: 120px;
    height: 120px;
    font-size: 24px;
    border-radius: 50%;
    color: #424242;
}
button.btn-calculator:hover { box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64); }
/* header >> wrap >> send >> btn >> result */
div.result { font-size: 32px; }
div.BMI {
    width: 123px;
    height: 123px;
    border-radius: 50%;
    flex-direction: column;
    position: relative;
}
i.BMI-text {
    font-size: 14px;
    padding-top: 4px;
}
i.BMI-text::before {content: "BMI";}
button.BMI-bg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 3px solid #424242;
    transition: all 0.2s linear;
}
button.BMI-bg:hover { transform: rotate(90deg); }
button.BMI-bg span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div.result div.BMI-txt { margin-left: 18px; }


/* article */
div.article h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 36px;
}
ul.listBox {
    width: 624px;
    margin: 0 auto;
}
ul.listBox li {
    background-color: #fff;
    font-size: 20px;
    padding-right: 11px;
    margin-bottom: 16px;
}
ul.listBox li span.BMI-bg {
    width: 7px;
    height: 62px;
}
ul.listBox li div::before {
    font-size: 12px;
    padding-right: 7px;
}
ul.listBox li div.BMI-txt::before { font-size: 20px; }
div.BMI-num::before { content: "BMI"; }
div.weight::before { content: "Weight"; }
div.height::before { content: "Height"; }
a.del {
    width: 36px;
    height: 36px;
    color: #444444;
    border: none;
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.2s linear;
}
a.del:hover { opacity: 1; }
div.del-all {
    width: 120px;
    background-color: rgb(100, 100, 100);
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin: 50px auto;
    transition: all 0.2s linear;
    font-size: 21px;
}
div.del-all:hover {
    background: rgb(255, 255, 255);
}
div.del-all span {
    background-color: #fff;
    border-radius: 50%;
}

/* BMI Level */
/*   過輕 : <18.5*/
.level1 div.BMI { border: 6px solid #86D73F; }
div.level1.result { color: #86D73F; }
.level1 div.BMI-txt::before {content: "過輕";}
.level1 .BMI-bg { background-color: #86D73F; }
/*   理想 : 18.5<= x < 25*/
.level2 div.BMI { border: 6px solid #31baf9; }
div.level2.result { color: #31baf9; }
.level2 div.BMI-txt::before {content: "理想";}
.level2 .BMI-bg { background-color: #31baf9; }
/*   過重 : 25 <= x  < 30*/
div.level3 div.BMI { border: 6px solid #FF982D; }
div.level3.result { color: #FF982D; }
.level3 div.BMI-txt::before {content: "過重";}
.level3 .BMI-bg { background-color: #FF982D; }
/*   輕度肥胖 : 30 <= x < 35*/
.level4 div.BMI { border: 6px solid #FF6C03; }
div.level4.result { color: #FF6C03; }
.level4 div.BMI-txt::before {content: "輕度肥胖";}
.level4 .BMI-bg { background-color: #FF6C03; }
/*   中度肥胖 : 35 <= x < 40*/
.level5 div.BMI { border: 6px solid #FF6C03; }
div.level5.result { color: #FF6C03; }
.level5 div.BMI-txt::before {content: "中度肥胖";}
.level5 .BMI-bg { background-color: #FF6C03; }
/*   重度肥胖 : 40 <=*/
.level6 div.BMI { border: 6px solid #FF1200; }
div.level6.result { color: #FF1200; }
.level6 div.BMI-txt::before {content: "重度肥胖";}
.level6 .BMI-bg { background-color: #ff1200; }
